.box{
    display: flex;
    justify-content: space-between;
}
.input-search{
    margin-bottom: 20px;
}
body {
    background: hsla(210, 20%, 90%, 1);
    padding: 2em 0;
    line-height: 1.6;
    display: inline;
    min-height: 100vh;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}
.card {
    width: 100%;
    min-height: 215px;
    background: #fff;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    transition: all ease 200ms;
    max-width: 100%;
    padding: 15px;
    overflow: hidden;
}

.button-view{
    border: 2px solid #0033ff !important;
    color: #0033ff !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.pagination-style{
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    padding: 15px;
    margin: 20px;
}

form .search-ic {
    text-align: right;
}



