.summary-list{
    border: 1px solid #e6e5e5;
    border-radius: 3px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.title{
    margin-bottom: 14px;
}
.card-header{
    font-weight: bold;
}
.title-name{
    font-size: 20px;
    margin-bottom: 10px;
}
.date-moment{
    margin-bottom: 20px;
}
.button-list{
    background-color: #eeecec !important;
    border-radius:30px !important;
    margin-left: 10px;
}
.skills-list{
    margin-bottom: 20px;
}
.social-media-share{
    margin-top: 10px;
    margin-right: 12px;
    font-size: 20px;
}
.lang-content{
    margin-top: 20px;
    font-size: 20px;
}
.social-media-icon{
    display: flex;
    margin-top: 20px;

}
.description-label{
    margin-top: 15px;
    font-size: 20px;
}
.card-header{
    border-bottom: none;
}
.facebook-social{
    margin-right: 10px;
    color: #3b5998;
}
.twitter-social{
    margin-right: 10px;
    color: #55acee;
}
.linkedIn-social{
    color: #0077b5;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.submit-button{
    width:20%;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
